<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFSplit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PDFSplit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PDFSplit.Properties.Settings>
            <setting name="QUnit" serializeAs="String">
                <value>MiB</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>auto</value>
            </setting>
        </PDFSplit.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PDFSplit.Properties.Settings>
            <setting name="AvailableLanguages" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>en</string>
                        <string>de</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PDFSplit.Properties.Settings>
    </applicationSettings>
</configuration>